@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    src: url("../font/Gilroy-Medium.woff2");
}

@font-face {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 600;
    src: url("../font/Gilroy-Semibold.woff2");
}

@font-face {
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 700;
    src: url("../font/Gilroy-Bold.woff2");
}
